body{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    height: 580px;
    background-color: #fafafa;
   
}
main.ativo{
    background-color: #111;
}
h1{
    font-size: 1rem;
}
h1.ativo{
    color:#fafafa;
}
button{
    border: none;
    font-size: 1.1rem;
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button.ativo{
    background-color: #999;
}
footer{
    width: 100%;
    background-color: #555;
    border: solid transparent;
}
footer.ativo{
    background-color: #999;
}
footer p{
    text-align: center;
    color: #fff;
}

